@{
    ViewData["Title"] = "Home Page";
}

<div class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Cadastro de prontuário</div>
                    <div class="card-body">
                        <form id="formulario" method="POST" action='@Url.Action("Index", "Home")'>
                            <div class="form-group row">
                                <label for="prontuario" class="col-md-4 col-form-label text-md-right">Prontuário</label>
                                <div class="col-md-6">
                                    <input type="text" id="prontuario" class="form-control" name="prontuario" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nome" class="col-md-4 col-form-label text-md-right">Nome</label>
                                <div class="col-md-6">
                                    <input type="text" id="nome" class="form-control" name="nome" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="sobrenome" class="col-md-4 col-form-label text-md-right">Sobrenome</label>
                                <div class="col-md-6">
                                    <input type="text" id="sobrenome" class="form-control" name="sobrenome" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="data" class="col-md-4 col-form-label text-md-right">Data de nascimento</label>
                                <div class="col-md-6">
                                    <input type="date" id="data" class="form-control" name="data" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="genero" class="col-md-4 col-form-label text-md-right">Gênero</label>
                                <div class="col-md-6">
                                    <select name="genero" class="form-control">
                                        <option disabled>Selecione</option>
                                        <option>Feminino</option>
                                        <option>Masculino</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="cpf" class="col-md-4 col-form-label text-md-right">CPF</label>
                                <div class="col-md-6">
                                    <input type="text" id="cpf" name="cpf" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rg" class="col-md-4 col-form-label text-md-right">RG</label>
                                <div class="col-md-6">
                                    <input type="text" id="rg" class="form-control" name="rg" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="uf" class="col-md-4 col-form-label text-md-right">UF do RG</label>
                                <div class="col-md-6">
                                    <select class="form-control" name="uf">
                                        <option>Sp</option>
                                        <option>Rj</option>
                                        <option>RO</option>
                                        <option>AC</option>
                                        <option>AM</option>
                                        <option>RR</option>
                                        <option>PA</option>
                                        <option>AP</option>
                                        <option>TO</option>
                                        <option>MA</option>
                                        <option>PI</option>
                                        <option>CE</option>
                                        <option>RN</option>
                                        <option>PB</option>
                                        <option>PE</option>
                                        <option>AL</option>
                                        <option>SE</option>
                                        <option>BA</option>
                                        <option>MG</option>
                                        <option>ES</option>
                                        <option>PR</option>
                                        <option>SC</option>
                                        <option>RS</option>
                                        <option>MS</option>
                                        <option>MT</option>
                                        <option>GO</option>
                                        <option>DF</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input type="email" id="email" class="form-control" name="email" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="celular" class="col-md-4 col-form-label text-md-right">Celular</label>
                                <div class="col-md-6">
                                    <input type="tel" id="celular" class="form-control" name="celular" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="telefone" class="col-md-4 col-form-label text-md-right">Telefone fixo</label>
                                <div class="col-md-6">
                                    <input type="tel" id="telefone" class="form-control" name="telefone">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="convenio" class="col-md-4 col-form-label text-md-right">Convênio</label>
                                <div class="col-md-6">
                                    <input type="tel" id="convenio" class="form-control" name="convenio" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="carteirinha" class="col-md-4 col-form-label text-md-right">Carteirinha do convênio</label>
                                <div class="col-md-6">
                                    <input type="tel" id="carteirinha" class="form-control" name="carteirinha" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="validade" class="col-md-4 col-form-label text-md-right">Validade da carteirinha</label>
                                <div class="col-md-6">
                                    <input type="month" id="validade" class="form-control" name="validade" required>
                                </div>
                            </div>

                            <div class="container-button">
                                <div>
                                    <button type="submit" class="btn btn-success">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
